body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("cards.jpg");
    background-size: cover;
    color:white;
    text-align:center;
    font-weight:bold;
}

h1 {
    color : goldenrod;
    text-shadow: 2px 2px 4px #016f32;
}

h3 {
    color: darkolivegreen;
    font-size: smaller;
}

#card-El, #sum-El {
    color:016f32;
}
#msg-el{
    font-style: italic;
    color:016f32
}

button {
 color: #016f32;
 width: 150px;
 background-color: goldenrod;
 padding-top : 5px;
 padding-bottom : 5px;
 font-weight :bold;
 border : none;
 border-radius: 2px;
 margin-bottom: 2px;
 margin-top: 2px;
}